@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
}
.container{
    /* background: transparent !important; */
    position: sticky;
    top: 0;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 26px !important;
    line-height: 47px;
    color: #000000;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #17b978;
    display: inline-block;
    position: relative;
    right: 6px;
}
.collapse ul{
    display: flex!important;
}
.collapse ul li{
    list-style-type: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 20px;
    padding-right: 40px;
}

.collapse ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
@media screen and (max-width:992px) {
    .collapse a {
        display: flex;
        flex-direction: row;
    }
}